@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    font-family: var(--font-poppins);
}

.sortable-item {
    transition:
        transform 0.3s ease-in-out,
        background-color 0.2s;
}

.sortable-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.mask-gradient-horizontal {
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgb(0, 0, 0) 12.5%,
        rgb(0, 0, 0) 87.5%,
        rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgb(0, 0, 0) 12.5%,
        rgb(0, 0, 0) 87.5%,
        rgba(0, 0, 0, 0) 100%
    );
}

/* برای انیمیشن تغییرات */
.react-grid-item {
    transition: all 0.5s ease-in-out;
}
