@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    font-family: var(--font-poppins);
}

.sortable-item {
    transition:
        transform 0.3s ease-in-out,
        background-color 0.2s;
}

.sortable-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* .react-grid-layout {
    position: relative;
    display: flex;
    flex-wrap: wrap; 
} */

/* برای انیمیشن تغییرات */
.react-grid-item {
    transition: all 0.5s ease-in-out; 
}
